<phpunit
	bootstrap="vendor/autoload.php">

	<testsuites>
		<testsuite name="Calculator">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">app/library</directory>
		</whitelist>
	</filter>
</phpunit>
